<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakarta.ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>EDC</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>SignUp.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>LoginServlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>Registration.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServleet</display-name>
    <servlet-name>SignUpServleet</servlet-name>
    <servlet-class>SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServleet</servlet-name>
    <url-pattern>/SignUpServleet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpVerEmail</display-name>
    <servlet-name>SignUpVerEmail</servlet-name>
    <servlet-class>SignUpVerEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpVerEmail</servlet-name>
    <url-pattern>/SignUpVerEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpVerOTP</display-name>
    <servlet-name>SignUpVerOTP</servlet-name>
    <servlet-class>SignUpVerOTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpVerOTP</servlet-name>
    <url-pattern>/SignUpVerOTP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassVerEmail</display-name>
    <servlet-name>ForgotPassVerEmail</servlet-name>
    <servlet-class>ForgotPassVerEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassVerEmail</servlet-name>
    <url-pattern>/ForgotPassVerEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassVerOTP</display-name>
    <servlet-name>ForgotPassVerOTP</servlet-name>
    <servlet-class>ForgotPassVerOTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassVerOTP</servlet-name>
    <url-pattern>/ForgotPassVerOTP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forgotPassword</display-name>
    <servlet-name>forgotPassword</servlet-name>
    <servlet-class>forgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgotPassword</servlet-name>
    <url-pattern>/forgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatePxFormServlet</display-name>
    <servlet-name>CreatePxFormServlet</servlet-name>
    <servlet-class>CreatePxFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePxFormServlet</servlet-name>
    <url-pattern>/CreatePxFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MedicalHistoryServlet</display-name>
    <servlet-name>MedicalHistoryServlet</servlet-name>
    <servlet-class>MedicalHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicalHistoryServlet</servlet-name>
    <url-pattern>/MedicalHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPxServlet</display-name>
    <servlet-name>EditPxServlet</servlet-name>
    <servlet-class>EditPxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPxServlet</servlet-name>
    <url-pattern>/EditPxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePxServlet</display-name>
    <servlet-name>UpdatePxServlet</servlet-name>
    <servlet-class>UpdatePxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePxServlet</servlet-name>
    <url-pattern>/UpdatePxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SystemLogsServlet</display-name>
    <servlet-name>SystemLogsServlet</servlet-name>
    <servlet-class>SystemLogsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemLogsServlet</servlet-name>
    <url-pattern>/SystemLogsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArchiveServlet</display-name>
    <servlet-name>ArchiveServlet</servlet-name>
    <servlet-class>ArchiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArchiveServlet</servlet-name>
    <url-pattern>/ArchiveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchArchiveServlet</display-name>
    <servlet-name>SearchArchiveServlet</servlet-name>
    <servlet-class>SearchArchiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchArchiveServlet</servlet-name>
    <url-pattern>/SearchArchiveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestorePxServlet</display-name>
    <servlet-name>RestorePxServlet</servlet-name>
    <servlet-class>RestorePxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestorePxServlet</servlet-name>
    <url-pattern>/RestorePxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePxArchiveServlet</display-name>
    <servlet-name>DeletePxArchiveServlet</servlet-name>
    <servlet-class>DeletePxArchiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePxArchiveServlet</servlet-name>
    <url-pattern>/DeletePxArchiveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageTreatment</display-name>
    <servlet-name>ManageTreatment</servlet-name>
    <servlet-class>ManageTreatment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageTreatment</servlet-name>
    <url-pattern>/ManageTreatment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddManageTreatment</display-name>
    <servlet-name>AddManageTreatment</servlet-name>
    <servlet-class>AddManageTreatment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddManageTreatment</servlet-name>
    <url-pattern>/AddManageTreatment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertManageTreatment</display-name>
    <servlet-name>InsertManageTreatment</servlet-name>
    <servlet-class>InsertManageTreatment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertManageTreatment</servlet-name>
    <url-pattern>/InsertManageTreatment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditManageTreatment</display-name>
    <servlet-name>EditManageTreatment</servlet-name>
    <servlet-class>EditManageTreatment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditManageTreatment</servlet-name>
    <url-pattern>/EditManageTreatment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateManageTreatment</display-name>
    <servlet-name>UpdateManageTreatment</servlet-name>
    <servlet-class>UpdateManageTreatment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateManageTreatment</servlet-name>
    <url-pattern>/UpdateManageTreatment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveNewIntraOralServlet</display-name>
    <servlet-name>SaveNewIntraOralServlet</servlet-name>
    <servlet-class>SaveNewIntraOralServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveNewIntraOralServlet</servlet-name>
    <url-pattern>/SaveNewIntraOralServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccessIntraOral</display-name>
    <servlet-name>AccessIntraOral</servlet-name>
    <servlet-class>AccessIntraOral</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessIntraOral</servlet-name>
    <url-pattern>/AccessIntraOral</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateIntraOralServlet</display-name>
    <servlet-name>UpdateIntraOralServlet</servlet-name>
    <servlet-class>UpdateIntraOralServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateIntraOralServlet</servlet-name>
    <url-pattern>/UpdateIntraOralServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllArchive</display-name>
    <servlet-name>AllArchive</servlet-name>
    <servlet-class>AllArchive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllArchive</servlet-name>
    <url-pattern>/AllArchive</url-pattern>
  </servlet-mapping>
</web-app>